body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
}

li {
    margin-bottom: 10px;
    font-weight: 550;
}

.about-us {
    background-color: #103353;
    color: #d4e7f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    text-align: justify; /* Added to justify the text */
}

.about-us-gait {
    background-color: #103353;
    color: #d4e7f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    text-align: justify; /* Added to justify the text */
}

#more, #moreGait {
    display: none;
}

.read-more-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.read-more-button:hover {
    background-color: #0056b3;
}

.list-group-item {
    background-color: white;
    color: #001427;
    border-radius: 20px;
}

.row img {
    border-radius: 20px 0 0 20px;
}

.row {
    display: flex;
    gap: 30px;
}

/* Media query for tablets and smaller devices */
@media (max-width: 768px) {
    .about-us, .about-us-gait {
        padding: 15px;
    }

    .read-more-button {
        padding: 8px 16px;
    }

    .row {
        flex-direction: column;
        gap: 15px;
    }

    .row img {
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .col-sm-2, .col-md-2, .col-lg-2, .col-sm-10, .col-md-10, .col-lg-10 {
        width: 100%;
    }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
    body {
        margin: 10px;
        padding: 10px;
    }

    .about-us, .about-us-gait {
        padding: 10px;
    }

    .read-more-button {
        padding: 6px 12px;
    }

    .row {
        gap: 10px;
    }

    .list-group-item {
        font-size: 14px;
    }

    .row img {
        height: auto;
        max-width: 100%;
    }
}
